.stream {
  height: 50%;
  display: grid;
  place-items: center;
}

.stream__container {
  display: flex;
}

.stream__status {
  width: 300px;
  height: 195px;
  background-color: #1f1f23;
  margin-right: 30px;
}

.stream__statusContainer {
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 145px;
}

.stream__statusIndicator {
  background-color: #fff;
  color: #1d1f23;
  border-radius: 8px;
  width: fit-content;
  padding: 2px 10px;
}

.stream__statusContainerTop {
  flex: 1;
  margin-bottom: 5px;
}

.stream__statusInfo {
  display: flex;
  align-items: center;
}

.stream__statusInfo>i {
  margin-right: 15px;
}

.stream__statusInfo>p {
  font-size: 10px;
}

.stream__status>div>div>h2 {
  font-size: 20px;
}

.stream__video {
  height: 195px;
  width: 400px;
}

.stream__videoEmbed {
  height: 195;
  width: 400;
}


